<!DOCTYPE HTML>
<html>
<head>
	<title>Memorial Art Pty LTD</title>
	<link type="text/css" rel="stylesheet" href="/stylesheets/laybuy_main.css">	
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8">

	<script type="text/javascript" src="/scripts/laybuy.js"></script>
</head>	
<body>
	<div id="topheader">	
		<h1>{{ mainheading }}</h1>
	</div>
	<div class="mainpage">
		<div class="before">
		</div>
		<div class="centered">
			<div class="leftcol">
				<div class="contract">
					<div id="contractheader">
						<h2>LayBuy Users</h2>
					</div>	
					<div id="contractbody">
						<form action="/saveu" method="post">
							<table>
								<thead>
									<tr>
										<th style=width:20></th>
										<th style=width:100></th>
									</tr>
								</thead>
								<tbody>
									<tr><td class="bodytop_label">User Name</td><td><input type="text" name="user_name" /></td></tr>
									<tr><td class="bodytop_label">Rights</td><td><input type="number" name="user_rights" min="1" max="5" size="3"/></td></tr>
									<tr><td class="bodytop_label">Branch</td>
										<td><select name="user_branch">
											<option value=""> </option>										
											{% for branch in branches %}
												<option value="{{ branch.branchname }}">{{ branch.branchname }}</option>
											{% endfor %} 
											</select></td></tr>												
								</tbody>
								<tfoot></tfoot>								
							</table>
							<br>
							<div>
							     <input type="submit" value="Save"> or 
                                 <a href="/" class="cancel">Cancel</a>							     
							</div>
							<br>							
						</form>
						<hr />
						<br>
						<table class="tablewide">
        					<thead>
								<tr style=background-color:#D4D4D4;>
									<th style=width:200px>User</th>
									<th style=width:80px; align="center">Rights</th>												
									<th style=width:100px>Branch</th>								
								</tr>
							</thead>
							<tfoot></tfoot>
							<tbody>
								{% for uu in usersm %}								
									<tr><td>{{ uu.user_name }}</td>
										<td align="center">{{ uu.user_rights }}</td>
										<td>{{ uu.user_branch }}</td>
									</tr>
								{% endfor %} 								
							</tbody>
						</table>
						<br><br><br><br><br><br>						
					</div>	
					<div id="contractfooter">
<!--						<a href="">Privacy Policy</a>       <a href="">Terms of Service</a>-->
					</div>
				</div>
			
			</div>
			<div class="rightcol">
				<div id="messages">
					<table class="tmenu">
						<tbody >
							{% for um in usermenu %}						
                              <form id="ffc" action="{{ um.href }}" method="get">
                                 <input type="hidden" name="ckey" value="{{ contract.contract_number }}" disabled="disabled">                        
                                 <tr><th><input type="submit" value="{{ um.htext }}" style=width:140px></th></tr>
<!--                                 <tr><th><a href="{{ um.href }}">{{ um.htext }}</a></th></tr>-->
                              </form>
							{% endfor %}
						</tbody>
					</table>
					<br />
					<br />
					<table class="tmenu">
						<tbody >
							<tr style=font-size:12px><th>You are logged in as: {{ userr.user_name }}</th></tr>
							<tr style=font-size:12px><th><a href="{{ url }}">{{ url_linktext }}</a></th></tr>							
						</tbody>						
					</table>					
				</div>
			</div>
		</div>
		<div class="after">
		</div>
	</div>
</body>
</html>					